.sing-up {
	height: 100%;
	width: 100%;
	max-width: 137.2px;
	min-height: 400px;
	background: #5A61ED;
	font-family: 'PT Sans', sans-serif;
	position: relative;
	color: #FFFFFF;
	&__title {
		display: flex;
		width: 162px;
		height: 63px;
		position: absolute;
		font-size: 48.5px;
		letter-spacing: 0.7px;
		transform-origin: bottom right;
		transform: rotate(-90deg);
		bottom: 38.4%;
		right: -1.5%;
	}
	&__title-item {
		height: 100%;
	}
}