@import "_nullstyle";
@import "_sing-up";
@import "_form";
@import "_adaptive";




// Work Sans
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
// font-family: 'Work Sans', sans-serif;

// PT Sans
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
// font-family: 'PT Sans', sans-serif;


html {
	min-width: 400px;
	min-height: 700px;
}


body {
	font-family: 'Work Sans', sans-serif;
	background: #F2F2F2;
	display: flex;
	align-items: center;
	justify-content: center;
}
.wrapper {
	width: 100%;
	max-width: 665px;
	max-height: 480px;
	height: 100%;
	display: flex;
	align-items: center;
	color: #7C7C7C;
}